.first-screen .first-button .amaz-button {
    display: inline-block;
    position: relative;
    width: 133.31px; 
    height: 34.21px; 
    background: linear-gradient(92.23deg, #FFA6FA 100%, #3C79D4 100%);
    box-sizing: border-box;
    clip-path: polygon(0% 100%, 0 29%, 16% 0, 100% 0%, 100% 74%, 86% 100%);
    border-radius: 1.17972px;
}

.first-screen .first-button .amaz-button a {
    position: absolute;
    top: 2px; 
    left: 2px; 
    width: 133.31px; 
    height: 34.21px;     
    background: linear-gradient(265deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    clip-path: polygon(0% 100%, 0 29%, 16% 0, 100% 0%, 100% 74%, 86% 100%);
    border-radius: 1.17972px;
}
.first-screen .first-button .amaz-button p {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    left: 28px;
    bottom: -2px;
}

.first-screen .first-button .amaz-button img {
    position: absolute;
    left: 89px;
    bottom: 11px;
    max-width: 21%;
}




.top-button {
    display: inline-block;
    position: relative;
    width: 250.83px; 
    height: 65.12px; 
    background: linear-gradient(92.23deg, #FFA6FA 100%, #3C79D4 100%);
    box-sizing: border-box;
    clip-path: polygon(0% 100%, 0 29%, 16% 0, 100% 0%, 100% 74%, 86% 100%);
    border-radius: 1.17972px;
    
}

.top-button a {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 248.83px;
    height: 63.12px;   
    background-color: #241043;
    clip-path: polygon(0% 100%, 0 29%, 16% 0, 100% 0%, 100% 74%, 86% 100%);
    border-radius: 1.17972px;
}


.top-button p {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    left: 68px;
    bottom: 0px;
}

.top-button img {
    position: absolute;
    left: 167px;
    bottom: 23px;
}