* {
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
   
}


a {
    text-decoration: none;
}

hr {
    margin: 0 !important;
}




.first-screen {
    background-color: #241043;
}

.first-screen .first-up {
    padding: 2rem 2rem 0;
}

.first-screen .first-up .up-big {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 139.4%;
    color: #FFFFFF;
    padding-bottom: 11px;
}

.first-screen .first-up .up-small {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 166%;
    color: #FFFFFF;
}


.first-screen .first-button {
    padding: 1.1rem 1.9rem;
    display: flex;
}

.first-screen .first-button a{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

.first-screen .first-button .amaz-button {
    clip-path: polygon(0% 100%, 0 29%, 16% 0, 100% 0%, 100% 74%, 86% 100%);
    background: linear-gradient(269deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    padding: 1.6% 13%;
    max-width: 133px;
    border: 1px solid rgba(255, 166, 250, 1);
}

.first-screen .first-button .amaz-button a {
    color: white;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    text-decoration: none;
}

.first-screen .first-button .grad-button {
    margin-top: 0.3rem;
}

.first-screen .first-button .grad-button a {
    background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 1.3rem;
}

.first-screen .first-button {

}


.first-screen .first-mid {
    padding: 1.4rem 2rem;
    display: flex;
    /* justify-content: space-between; */
}

.first-screen .mid-info {
    padding-right: 3rem;
}

.first-screen .first-mid .mid-up {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0.3rem;
    /* line-height: 28px; */
    /* identical to box height, or 157% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.117972px;
    
    color: #FFFFFF;
}

.first-screen .first-mid .mid-down {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 98% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.117972px;
    
    color: rgba(255, 255, 255, 0.6);
}


.first-screen .first-down {
    padding: 0.1rem 2rem;
    /* display: flex; */
    /* justify-content: space-between; */
}

.first-down .down-up {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
}

.first-down .down-down {
    display: flex;
    grid-template-columns: 1.75fr 1fr;
    padding-top: 2rem;
    /* padding-left: 1rem; */
}

.first-screen .first-down img {
    max-width: 100%;
    /* aspect-ratio: 3/2; */
    /* object-fit: contain; */
    /* mix-blend-mode: ; */
    /* margin: 1%; */
}



.first-screen .first-block {
    padding: 2rem;
    color: white;
}


.first-screen .first-block .block-pic {

}

.first-screen .first-block .block-info {
    display: flex;
    /* justify-content: space-around; */
    padding: 1rem;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(29.3092px);
}

.block-info .info-left {
    flex-grow: 1;
    
}

.block-info .info-right {
    flex-grow: 1;
    
}


.block-info .info-left .info-title {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 17.0526px;
    line-height: 34px;
    /* identical to box height, or 200% */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.block-info .info-left .info-acc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-info .info-rev {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 10.6579px;
    line-height: 34px;
    /* identical to box height, or 320% */

    color: #FFFFFF;

    opacity: 0.7;
}

.block-info .info-left .info-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-info .info-left .info-price .price-left {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 9.36903px;
    line-height: 12px;
}

.block-info .info-left .info-price .price-right {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6579px;
    line-height: 34px;
}



.block-info .info-right .info-timer .timer-up {
    display: flex;
    justify-content: space-around;
}

.block-info .info-right .info-timer .timer-down {
    display: flex;
    justify-content: space-around;
}

.block-info .info-right .info-timer .timer-up .up-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 17.0526px;
    line-height: 34px;
}

.block-info .info-right .info-timer .timer-down .down-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 10.6579px;
    line-height: 34px;
}

.block-info .info-right .info-button {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    
    color: white;
}





/* TOP - NFT  */


.top-nft {
    padding: 2rem;
    color: white;
    background-color: #241043;
}

.top-nft .nft-info {
    display: flex;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(29.3092px);
}




.nft-info .info-left {
    /* flex-grow: 1; */
    
}

.nft-info .info-right {
    flex-grow: 1;
    
}


.nft-info .info-left .info-title {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 17.0526px;
    line-height: 34px;
    /* identical to box height, or 200% */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.nft-info .info-left .info-acc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nft-info .info-rev {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 10.6579px;
    line-height: 34px;
    /* identical to box height, or 320% */

    color: #FFFFFF;

    opacity: 0.7;
}

.nft-info .info-left .info-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nft-info .info-left .info-price .price-left {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 9.36903px;
    line-height: 12px;
}

.nft-info .info-left .info-price .price-right {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6579px;
    line-height: 34px;
}



.nft-info .info-right .info-timer .timer-up {
    display: flex;
    justify-content: space-around;
}

.nft-info .info-right .info-timer .timer-down {
    display: flex;
    justify-content: space-around;
}

.nft-info .info-right .info-timer .timer-up .up-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 17.0526px;
    line-height: 34px;
}

.nft-info .info-right .info-timer .timer-down .down-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 10.6579px;
    line-height: 34px;
}

.nft-info .info-right .info-button {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    
    color: white;
}

.top-nft .top-button {
    display: flex;
    
}

.top-nft .top-button .button-explore {
    /* display: block; */
    /* background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%); */
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    
    color: white;
}





.collect {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    background-color: #241043;
}

.collect .collect-title {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}

.collect .collect-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.collect .collect-select a  {

    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 9% 11%;
    margin: 5% 2%;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 10.9922px;
    line-height: 14px;
    text-align: center;

    color: rgba(255, 255, 255, 0.5);
}


.collect .collect-select .select-active {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%; 
    color: white;
    text-decoration: none;
}

.collect .collect-model {
    display: flex;
    justify-content: center;
}

.collect .collect-model img {
    max-width: 60%;
}




.explore {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    background-color: #241043;
}

.explore .explore-title {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
}

.explore .explore-block {
    border: 1px solid rgba(255, 255, 255, 0.28);

}

.explore .explore-up {

}

.explore .explore-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(27.4188px);
    /* Note: backdrop-filter has minimal browser support */
}

.explore .explore-down .explore-icon {
    position: relative;
    bottom: 3rem ;
}

.explore .explore-down .explore-icon img {
    max-width: 99%;
}

.explore .explore-down .explore-name {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 16.8391px;
    line-height: 32px;
    color: #FFFFFF;
}

.explore .explore-down .explore-veryf {
    display: flex;
    align-items: center;
}

.explore .explore-down .explore-nick {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9587px;
    line-height: 32px;
    color: #FFB1EE;
}

.explore .explore-down .explore-veryf img {

}

.explore .explore-down .explore-folow {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    flex-grow: 1;
}
    
.explore .explore-down .folow-up{
    display: flex;
    justify-content: space-between;
}

.explore .explore-down .folow-up .up-text{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 21.9417px;
    line-height: 44px;
    /* padding: 1%; */
    color: #FFFFFF;
}

.explore .explore-down .folow-down{
    display: flex;
    justify-content: space-between;
}

.explore .explore-down .folow-down .down-text{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 13.7136px;
    line-height: 44px;
    color: #FFFFFF;
    opacity: 0.7;
}

.explore .explore-down .explore-button {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 13.7774px;
    line-height: 18px;
    color: #FFFFFF;
}


.seller {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
    background-color: #241043;
}


.seller .seller-big  {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 19.2314px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;
} 

.seller .seller-small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.19%;
    /* or 20px */
    
    text-align: center;
    
    color: #FFFFFF;
}

.seller .seller-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(27.4781px);
    border: 1px solid rgba(255, 255, 255, 0.28) ;
    border-radius: 20.7108px;
    justify-content: space-evenly;
}

.seller .seller-item .seller-name {
    
}

.seller .seller-item .seller-name .seller-eth {
    display: flex;
    align-items: center;
}

.seller .seller-name .seller-surname {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13.8072px;
    line-height: 32px;
    color: #FFFFFF;
}

.seller .seller-name .seller-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 9.97186px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
}

.seller .seller-light {
    background: linear-gradient(180deg, rgba(235, 20, 20, 0.15) 0%, rgba(235, 20, 20, 0.1005) 100%);
    border-radius: 12.7057px;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10.6564px;
    line-height: 34px;
    color: #FF0000;
    border: 1px solid rgba(235, 20, 20, 0.15) ;

}





.what {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #241043;
}  

.what .what-down {
    position: relative;
    bottom: 12rem;
    padding: 2.5rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(42.3141px);
    border-radius: 1.67581px;
    border: 1px solid;
}

.what-down .what-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25.87px;
    line-height: 35px;
    /* identical to box height, or 135% */

    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.what-down .what-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.6415px;
    line-height: 21px;
    /* or 178% */

    font-feature-settings: 'salt' on, 'liga' off;

    color: #FFFFFF;


    
}

.what-down .what-line {
    display: flex;
}

.what-down .what-line .what-watch {
    display: flex;
    padding-left: 11%;
    align-items: center;
    justify-content: space-between;
}

.what-down .what-line .what-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    text-decoration: none;
}

.subscribe {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
    background-color: #241043;
}

.subscribe .subscribe-title {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 26.2703px;
    line-height: 33px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;

}
.subscribe .subscribe-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1351px;
    line-height: 23px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}
.subscribe .subscribe-button {
    
}

.subscribe .subscribe-button input {
    background: #F4F5F7;
    border-radius: 3.64865px 0px 0px 3.64865px;
    padding: 2% 2%;
}

::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.2162px;
    line-height: 18px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #474A57;
}

.subscribe .subscribe-button a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10.2162px;
    line-height: 15px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 3.18009px 77.1171px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(76.3221px);
    border-radius: 0px 3.64865px 3.64865px 0px;
    text-decoration: none;
    padding: 5% 8%;
    border: 1px solid rgba(255, 166, 250, 1);
}

.subscribe-bg {
    margin-top: 36%;
}

.link {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1.5rem;
    background-color: #241043;
}

.link .link-title {
    display: flex;
    align-items: center;
}

.link .link-title .link-big {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 19.8983px;
    line-height: 25px;
    color: #FFFFFF;
}

.link .link-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 27px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.link .link-img {
    
}

.link .link-img a {
    border-radius: 50%;
    background-color: black;
}

.link .link-img img {
    border-radius: 1;
}



.final {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1.5rem;
    background-color: #241043;
}

.final p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15.4764px;
    line-height: 27px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #D9DBE1;
}

.final .final-up {
    display: flex;
    justify-content: space-between;
}