* {
    margin: 0;
    scroll-behavior: smooth;
    
}




.first-screen {
    background-color: #241043;
}

.first-screen .first-up {
    padding: 2rem;
}

.first-screen .first-up .up-big {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 137.4%;
    color: #FFFFFF;
}

.first-screen .first-up .up-small {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}


.first-screen .first-button {
    padding: 2rem;
}

.first-screen .first-button a{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

.first-screen .first-button .amaz-button {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    
    color: white;
}

.first-screen .first-button {}


.first-screen .first-mid {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.first-screen .first-mid .mid-up {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 157% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.117972px;
    
    color: #FFFFFF;
}

.first-screen .first-mid .mid-down {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 98% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.117972px;
    
    color: rgba(255, 255, 255, 0.6);
}


.first-screen .first-down {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
}

.first-screen .first-down img {
    max-width: 100%;
    /* aspect-ratio: 3/2; */
    /* object-fit: contain; */
    /* mix-blend-mode: ; */
    /* margin: 1%; */
}



.first-screen .first-block {
    padding: 2rem;
    color: white;
}


.first-screen .first-block .block-pic {

}

.first-screen .first-block .block-info {
    display: flex;
    /* justify-content: space-around; */
    padding: 1rem;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) -1.52%, rgba(255, 255, 255, 0.024) 104.35%);
    backdrop-filter: blur(29.3092px);
}

.block-info .info-left {
    flex-grow: 1;
    
}

.block-info .info-right {
    flex-grow: 1;
    
}


.block-info .info-left .info-title {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 17.0526px;
    line-height: 34px;
    /* identical to box height, or 200% */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.block-info .info-left .info-acc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-info .info-rev {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 10.6579px;
    line-height: 34px;
    /* identical to box height, or 320% */

    color: #FFFFFF;

    opacity: 0.7;
}

.block-info .info-left .info-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block-info .info-left .info-price .price-left {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 9.36903px;
    line-height: 12px;
}

.block-info .info-left .info-price .price-right {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6579px;
    line-height: 34px;
}



.block-info .info-right .info-timer .timer-up {
    display: flex;
    justify-content: space-around;
}

.block-info .info-right .info-timer .timer-down {
    display: flex;
    justify-content: space-around;
}

.block-info .info-right .info-timer .timer-up .up-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 17.0526px;
    line-height: 34px;
}

.block-info .info-right .info-timer .timer-down .down-text {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 10.6579px;
    line-height: 34px;
}

.block-info .info-right .info-button {
    /* display: block; */
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 2.35945px 57.2166px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(56.6267px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 1.17972px; */
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* border-radius: 50px 0px ; */
    border: 1px solid rgba(255, 166, 250, 1) ;
    padding: 3% 13%;
    
    color: white;
}

