@media  (min-width: 1700px) {

    .explore .explore-up img {
        width: 33rem;
    }

    footer {
        background-color: rgb(36, 16, 67);
        display: flex;
        align-items: flex-start;
        padding: 4rem 0px;
        justify-content: center;
        padding-right: 15rem;
    }

    .view-all {
        position: relative;
        bottom: 21px;
        left: -319px;
    }

    title .title-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        bottom: 2px;
        left: 1102px;
    }

    .top-nft .top-title .title-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        bottom: 2px;
        left: 1099px;
    }

    .first-screen .first-block {
        /* padding: 1.5rem; */
        color: white;
        position: relative;
        top: -677px;
        left: 1143px;
        max-width: 26%;
        height: 205px;
    }
}
